.defaultModal {
  height: 35vh;
  width: 30vw;
  background-color: beige;
  position: fixed;
  left: calc(50% - 15vw);
  top: calc(50% - 15vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  box-shadow: 16px 24px 74px -9px rgba(0,0,0,0.72);
}

.defaultBackgroundLayout {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5) ;
  z-index: 5;
}

.btnDefault {
  position: relative;
  width: 150px;
  height: 50px;
  left: calc(50% - 75px);
  background-color: gold;
  border-style: none;
  outline: none;
  font-weight: bold;
  transition: color 300ms ease-out;
  transition: background-color 300ms ease-out;
  color: #333;
  &:hover{
    background-color: #4a442d;
    color: #eeeeee;
    cursor: pointer;
  }
}
.closeButtonDefault{
  position: absolute;
  top: 85%;
  z-index: 10;
  background-color: transparent;
  font-weight: bold;
  color: #222;
  border-style: none;
  outline: none;
  letter-spacing: 1px;
  &:hover{
    color: #666;
    cursor: pointer;
  }
}