.defaultModal {
  height: 35vh;
  width: 30vw;
  background-color: beige;
  position: fixed;
  left: calc(50% - 15vw);
  top: calc(50% - 15vh);
  display: flex;
  flex-direction: column;
  z-index: 10;
  box-shadow: 16px 24px 74px -9px rgba(0,0,0,0.72);
}

.defaultBackgroundLayout {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5) ;
  z-index: 5;
}
.defaultNonBackgroundLayout {
  @extend .defaultBackgroundLayout;
  background-color: transparent;
}

.closeButtonDefault{
  position: absolute;
  top: 85%;
  left: calc(50% - 8px);
  background-color: transparent;
  font-weight: bold;
  color: #222;
  border-style: none;
  outline: none;
  letter-spacing: 1px;
  &:hover{
    color: #666;
    cursor: pointer;
  }
}
