@mixin slide-transition-left { transition: left 500ms ease; }
@mixin slide-transition-right { transition: right 500ms ease; }
@mixin slide-transition-transform { transition: transform 500ms ease; }
.defaultDrawer {
  position: fixed;
  top: 0;
  width: 25vw;
  height: 100vh;
  background-color: transparent ;
  @include slide-transition-left ;
  &.left {
    left: -25vw;
    .burgerIcon {
      display: inline-block;
      position: relative;
      top: 1%;
      left: 25vw;
      @include slide-transition-left ;

      .line1 {
        width: 25px;
        height: 3px;
        background-color: black;
        @include slide-transition-transform ;
        margin: 4px;
      }

      .line2 {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 4px;
      }

      .line3 {
        width: 25px;
        height: 3px;
        background-color: black;
        @include slide-transition-transform ;
        margin: 4px;
      }
    }
  }
  &.right{
    right: -25vw;
    .burgerIcon {
      display: inline-block;
      position: relative;
      top: 1%;
      right: 2vw;
      @include slide-transition-right ;

      .line1 {
        width: 25px;
        height: 3px;
        background-color: black;
        @include slide-transition-transform ;
        margin: 4px;
      }

      .line2 {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 4px;
      }

      .line3 {
        width: 25px;
        height: 3px;
        background-color: black;
        @include slide-transition-transform ;
        margin: 4px;
      }
    }
  }
}

.defaultDrawerActive {
  box-shadow: 22px 0px 62px -34px rgba(0,0,0,0.75);
  @include slide-transition-left ;
  &.left{
    left: 0;
    .burgerIcon {
      left: 23vw;
      @include slide-transition-left ;

      .line1 {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 4px;
        @include slide-transition-transform ;
        transform: rotate(-45deg) translate(-5px, 5px);
      }

      .line2 {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 4px;
        display: none;
      }

      .line3 {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 4px;
        @include slide-transition-transform ;
        transform: rotate(45deg);
      }
    }
  }
  &.right{
    right: 0;
    @include slide-transition-right ;
    .burgerIcon {
      position: absolute;
      right: 23vw;
      @include slide-transition-right ;

      .line1 {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 4px;
        @include slide-transition-transform ;
        transform: rotate(-45deg) translate(-5px, 5px);
      }

      .line2 {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 4px;
        display: none;
      }

      .line3 {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 4px;
        @include slide-transition-transform ;
        transform: rotate(45deg);
      }
    }

  }
}

.backGroundLayout{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5) ;
  z-index: -10;
}

.defaultDrawerItemsStyle{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25vw;
}